<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <script src="angular.js"></script>
    </head>
    <body>
        <div>
            <%= title %>
        </div>
        <div>This is an Angular {{'test' + '!!!'}}</div>
    </body>
</html>
