<!doctype html>
<html lang="en" ng-app="tttApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="lib/angular.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body>
        <div>
            <%= title %>
        </div>
        <table ng-controller="BoardController">
            <tbody>
                <tr ng-repeat="row in positions">
                    <td ng-repeat="cell in row" ng-click="play(cell)">
                        {{ cell.value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
