<!doctype html>
<html lang="en" ng-app="tttApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css">
 
        <script>
            var ROOM_NUM = <%= roomId %>;
        </script>
        
        <script src="lib/angular.js"></script>
        <script src="lib/socket.io.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/modelFactory.js"></script>
        <script src="js/services.js"></script>
    </head>
    <body ng-controller="BoardController">
        <div>
            In room: {{ room }}
        </div>
        <div>
            <strong>
                {{ getCurrentMessage() }}
            </strong>
        </div>
        <div>
            <button ng-click="reset()" ng-show="game.isGameOver()">Reset Board</button>
        </div>
        <div>
            {{ getCurrentPlayerMessage() }}
        </div>
        <div>
            {{ getMyPlayerMessage() }}
        </div>
        <table>
            <tbody>
                <tr ng-repeat="row in game.positions">
                    <td ng-repeat="cell in row" ng-click="play(cell)" ng-class="{ disabled: !isBoardEnabled() }">
                        {{ cell.player }}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
